/*Remover o sublinhado no menu*/
.menu-item {
    font-size: 12px !important;
    text-decoration: none !important;
}

.fa, .fab, .fad, .fal, .far, .fas, .svg-inline--fa {
    font-size: 13px !important
}

.fa-4x {
    font-size: 52px !important
}

.fa-5x {
    font-size: 65px !important
}

/*Remover o sublinhado no menu para o link externo*/
.menu-item-link-externo {
    font-size: 12px !important;
    text-decoration: none !important;
}

/*Padronização no layout do select múltiplo*/
form .select2-container--bootstrap .select2-selection--multiple {
    min-height: 38px;  
    background-color: var(--background-light);
    border-color: var(--border-color-alternative) !important;
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style) !important;
    border-width: var(--border-width) !important;
    color: var(--color-light);
    display: block;
    height: var(--input-size);
    margin-top: var(--spacing-scale-half);
    padding-bottom: 0 !important;
    padding-right: var(--spacing-scale-2x);
    width: 100%;
}

/*Exibição do texto placeholder*/
form .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: 100% !important;
}

/*Padronização no layout do select único*/
form .select2-container--bootstrap .select2-selection--single {
    min-height: 38px;
    background-color: var(--background-light);
    border-color: var(--border-color-alternative) !important;
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style) !important;
    border-width: var(--border-width) !important;
    color: var(--color-light);
    display: block;
    height: var(--input-size);
    margin-top: var(--spacing-scale-half);
    padding-bottom: 0 !important;
    padding-left: var(--spacing-scale-2x);
    padding-right: var(--spacing-scale-2x);
    width: 100%;
}

/*Necessário para quebra do texto ao selecionar o select*/
.select2-selection__rendered{
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #999;
    font-style: italic;
    display: block;
    height: 32px !important;
}

.br-button {
    vertical-align: initial !important;
}

.br-button-form {
    --button-large: 35px !important;
    text-decoration: none !important;
}

.br-button-cor-icone {
    color: white !important;
}

.pt-6-form-br {
    padding-top: 46px !important;
}

.pt-5-form-br {
    padding-top: 30px !important;
}

.br-button-row-table {
    --button-large: 25px;
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
    margin-top: -2px;
}

.tab-content {
    background-clip: border-box !important;
    background-color: #fff !important;
    border: 0px !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%)  !important;
}
input[readonly] {
    cursor: no-drop;
}

.br-pagination .page:not(:disabled):hover {
    background-image: linear-gradient(rgba(var(--interactive-rgb), var(--hover)), rgba(var(--interactive-rgb), var(--hover))) !important;
}
.br-pagination .page.active {
    background: rgb(12, 50, 111) !important;
}
.br-pagination .page{
    text-decoration: none !important;
}
.pagination-ellipsis .br-list{
    max-height: 50px;
    overflow-y: auto;
}
.pagination-ellipsis .br-list .br-item:hover{
    background: #A3A3A3 !important;
}
.pagination-ellipsis .br-list .br-item{
    text-decoration: none !important;
}