.loading,
.br-loading {
    --loading-size: var(--loading-indetermined-diameter-sm);
    --loading-diameter: 84px;
    --loading-stroke: 5px;
    --loading-indetermined-color: var(--interactive);
    --loading-indetermined-diameter-md: 44px;
    --loading-indetermined-diameter-sm: 24px;
    position: relative;
    z-index: var(--z-index-layer-4);
}
.loading[data-progress]:not(:empty),
.br-loading[data-progress]:not(:empty) {
    background-color: var(--border-color);
    border-radius: 50%;
}
.loading[data-progress]:not(:empty)::before,
.br-loading[data-progress]:not(:empty)::before {
    content: none;
}
.loading[data-progress]::after,
.br-loading[data-progress]::after {
    --loading-size: calc(var(--loading-diameter) - var(--loading-stroke) * 2);
    background: var(--background);
    border-radius: 50%;
    color: var(--interactive);
    content: attr(data-progress) "%";
    font-size: var(--font-size-scale-up-02);
    font-weight: var(--font-weight-semi-bold);
    height: var(--loading-size);
    line-height: var(--loading-size);
    margin: var(--loading-stroke);
    position: absolute;
    text-align: center;
    width: var(--loading-size);
}
.loading[data-progress].loading-mask, .loading[data-progress].loading-fill,
.loading[data-progress] .br-loading-mask,
.loading[data-progress] .br-loading-fill,
.br-loading[data-progress].loading-mask,
.br-loading[data-progress].loading-fill,
.br-loading[data-progress] .br-loading-mask,
.br-loading[data-progress] .br-loading-fill {
    backface-visibility: hidden;
    border-radius: 50%;
    clip: rect(0, var(--loading-diameter), var(--loading-diameter), calc(var(--loading-diameter) * 0.5));
    height: var(--loading-diameter);
    overflow: hidden;
    position: absolute;
    width: var(--loading-diameter);
}
.loading[data-progress].loading-fill,
.loading[data-progress] .br-loading-fill,
.br-loading[data-progress].loading-fill,
.br-loading[data-progress] .br-loading-fill {
    background: var(--interactive);
    clip: rect(0, calc(var(--loading-diameter) * 0.5), var(--loading-diameter), 0);
}
.loading::before,
.br-loading::before {
    animation: spinAround 1.3s infinite linear;
    border: 2px solid var(--loading-indetermined-color);
    border-radius: 50%;
    border-right-color: transparent;
    content: "";
    display: block;
    height: var(--loading-size);
    left: calc(50% - var(--loading-size) * 0.5);
    position: absolute;
    top: calc(50% - var(--loading-size) * 0.5);
    width: var(--loading-size);
}
.loading:not(.br-button),
.br-loading:not(.br-button) {
    height: var(--loading-size);
    width: var(--loading-size);
}
.loading:not(.br-button).medium,
.br-loading:not(.br-button).medium {
    --loading-size: var(--loading-indetermined-diameter-md);
}
.loading:not(.br-button).medium::before,
.br-loading:not(.br-button).medium::before {
    border-width: 4px;
}
.loading:not(.br-button)[data-progress],
.br-loading:not(.br-button)[data-progress] {
    --loading-size: var(--loading-diameter);
}
.loading:not(.br-button)[data-progress]::before,
.br-loading:not(.br-button)[data-progress]::before {
    border-width: var(--loading-stroke);
}
.loading[data-progress="1"] .br-loading-mask.full,
.loading[data-progress="1"] .br-loading-fill,
.br-loading[data-progress="1"] .br-loading-mask.full,
.br-loading[data-progress="1"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(1.8deg);
}
.loading[data-progress="2"] .br-loading-mask.full,
.loading[data-progress="2"] .br-loading-fill,
.br-loading[data-progress="2"] .br-loading-mask.full,
.br-loading[data-progress="2"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(3.6deg);
}
.loading[data-progress="3"] .br-loading-mask.full,
.loading[data-progress="3"] .br-loading-fill,
.br-loading[data-progress="3"] .br-loading-mask.full,
.br-loading[data-progress="3"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(5.4deg);
}
.loading[data-progress="4"] .br-loading-mask.full,
.loading[data-progress="4"] .br-loading-fill,
.br-loading[data-progress="4"] .br-loading-mask.full,
.br-loading[data-progress="4"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(7.2deg);
}
.loading[data-progress="5"] .br-loading-mask.full,
.loading[data-progress="5"] .br-loading-fill,
.br-loading[data-progress="5"] .br-loading-mask.full,
.br-loading[data-progress="5"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(9deg);
}
.loading[data-progress="6"] .br-loading-mask.full,
.loading[data-progress="6"] .br-loading-fill,
.br-loading[data-progress="6"] .br-loading-mask.full,
.br-loading[data-progress="6"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(10.8deg);
}
.loading[data-progress="7"] .br-loading-mask.full,
.loading[data-progress="7"] .br-loading-fill,
.br-loading[data-progress="7"] .br-loading-mask.full,
.br-loading[data-progress="7"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(12.6deg);
}
.loading[data-progress="8"] .br-loading-mask.full,
.loading[data-progress="8"] .br-loading-fill,
.br-loading[data-progress="8"] .br-loading-mask.full,
.br-loading[data-progress="8"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(14.4deg);
}
.loading[data-progress="9"] .br-loading-mask.full,
.loading[data-progress="9"] .br-loading-fill,
.br-loading[data-progress="9"] .br-loading-mask.full,
.br-loading[data-progress="9"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(16.2deg);
}
.loading[data-progress="10"] .br-loading-mask.full,
.loading[data-progress="10"] .br-loading-fill,
.br-loading[data-progress="10"] .br-loading-mask.full,
.br-loading[data-progress="10"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(18deg);
}
.loading[data-progress="11"] .br-loading-mask.full,
.loading[data-progress="11"] .br-loading-fill,
.br-loading[data-progress="11"] .br-loading-mask.full,
.br-loading[data-progress="11"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(19.8deg);
}
.loading[data-progress="12"] .br-loading-mask.full,
.loading[data-progress="12"] .br-loading-fill,
.br-loading[data-progress="12"] .br-loading-mask.full,
.br-loading[data-progress="12"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(21.6deg);
}
.loading[data-progress="13"] .br-loading-mask.full,
.loading[data-progress="13"] .br-loading-fill,
.br-loading[data-progress="13"] .br-loading-mask.full,
.br-loading[data-progress="13"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(23.4deg);
}
.loading[data-progress="14"] .br-loading-mask.full,
.loading[data-progress="14"] .br-loading-fill,
.br-loading[data-progress="14"] .br-loading-mask.full,
.br-loading[data-progress="14"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(25.2deg);
}
.loading[data-progress="15"] .br-loading-mask.full,
.loading[data-progress="15"] .br-loading-fill,
.br-loading[data-progress="15"] .br-loading-mask.full,
.br-loading[data-progress="15"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(27deg);
}
.loading[data-progress="16"] .br-loading-mask.full,
.loading[data-progress="16"] .br-loading-fill,
.br-loading[data-progress="16"] .br-loading-mask.full,
.br-loading[data-progress="16"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(28.8deg);
}
.loading[data-progress="17"] .br-loading-mask.full,
.loading[data-progress="17"] .br-loading-fill,
.br-loading[data-progress="17"] .br-loading-mask.full,
.br-loading[data-progress="17"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(30.6deg);
}
.loading[data-progress="18"] .br-loading-mask.full,
.loading[data-progress="18"] .br-loading-fill,
.br-loading[data-progress="18"] .br-loading-mask.full,
.br-loading[data-progress="18"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(32.4deg);
}
.loading[data-progress="19"] .br-loading-mask.full,
.loading[data-progress="19"] .br-loading-fill,
.br-loading[data-progress="19"] .br-loading-mask.full,
.br-loading[data-progress="19"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(34.2deg);
}
.loading[data-progress="20"] .br-loading-mask.full,
.loading[data-progress="20"] .br-loading-fill,
.br-loading[data-progress="20"] .br-loading-mask.full,
.br-loading[data-progress="20"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(36deg);
}
.loading[data-progress="21"] .br-loading-mask.full,
.loading[data-progress="21"] .br-loading-fill,
.br-loading[data-progress="21"] .br-loading-mask.full,
.br-loading[data-progress="21"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(37.8deg);
}
.loading[data-progress="22"] .br-loading-mask.full,
.loading[data-progress="22"] .br-loading-fill,
.br-loading[data-progress="22"] .br-loading-mask.full,
.br-loading[data-progress="22"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(39.6deg);
}
.loading[data-progress="23"] .br-loading-mask.full,
.loading[data-progress="23"] .br-loading-fill,
.br-loading[data-progress="23"] .br-loading-mask.full,
.br-loading[data-progress="23"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(41.4deg);
}
.loading[data-progress="24"] .br-loading-mask.full,
.loading[data-progress="24"] .br-loading-fill,
.br-loading[data-progress="24"] .br-loading-mask.full,
.br-loading[data-progress="24"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(43.2deg);
}
.loading[data-progress="25"] .br-loading-mask.full,
.loading[data-progress="25"] .br-loading-fill,
.br-loading[data-progress="25"] .br-loading-mask.full,
.br-loading[data-progress="25"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(45deg);
}
.loading[data-progress="26"] .br-loading-mask.full,
.loading[data-progress="26"] .br-loading-fill,
.br-loading[data-progress="26"] .br-loading-mask.full,
.br-loading[data-progress="26"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(46.8deg);
}
.loading[data-progress="27"] .br-loading-mask.full,
.loading[data-progress="27"] .br-loading-fill,
.br-loading[data-progress="27"] .br-loading-mask.full,
.br-loading[data-progress="27"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(48.6deg);
}
.loading[data-progress="28"] .br-loading-mask.full,
.loading[data-progress="28"] .br-loading-fill,
.br-loading[data-progress="28"] .br-loading-mask.full,
.br-loading[data-progress="28"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(50.4deg);
}
.loading[data-progress="29"] .br-loading-mask.full,
.loading[data-progress="29"] .br-loading-fill,
.br-loading[data-progress="29"] .br-loading-mask.full,
.br-loading[data-progress="29"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(52.2deg);
}
.loading[data-progress="30"] .br-loading-mask.full,
.loading[data-progress="30"] .br-loading-fill,
.br-loading[data-progress="30"] .br-loading-mask.full,
.br-loading[data-progress="30"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(54deg);
}
.loading[data-progress="31"] .br-loading-mask.full,
.loading[data-progress="31"] .br-loading-fill,
.br-loading[data-progress="31"] .br-loading-mask.full,
.br-loading[data-progress="31"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(55.8deg);
}
.loading[data-progress="32"] .br-loading-mask.full,
.loading[data-progress="32"] .br-loading-fill,
.br-loading[data-progress="32"] .br-loading-mask.full,
.br-loading[data-progress="32"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(57.6deg);
}
.loading[data-progress="33"] .br-loading-mask.full,
.loading[data-progress="33"] .br-loading-fill,
.br-loading[data-progress="33"] .br-loading-mask.full,
.br-loading[data-progress="33"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(59.4deg);
}
.loading[data-progress="34"] .br-loading-mask.full,
.loading[data-progress="34"] .br-loading-fill,
.br-loading[data-progress="34"] .br-loading-mask.full,
.br-loading[data-progress="34"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(61.2deg);
}
.loading[data-progress="35"] .br-loading-mask.full,
.loading[data-progress="35"] .br-loading-fill,
.br-loading[data-progress="35"] .br-loading-mask.full,
.br-loading[data-progress="35"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(63deg);
}
.loading[data-progress="36"] .br-loading-mask.full,
.loading[data-progress="36"] .br-loading-fill,
.br-loading[data-progress="36"] .br-loading-mask.full,
.br-loading[data-progress="36"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(64.8deg);
}
.loading[data-progress="37"] .br-loading-mask.full,
.loading[data-progress="37"] .br-loading-fill,
.br-loading[data-progress="37"] .br-loading-mask.full,
.br-loading[data-progress="37"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(66.6deg);
}
.loading[data-progress="38"] .br-loading-mask.full,
.loading[data-progress="38"] .br-loading-fill,
.br-loading[data-progress="38"] .br-loading-mask.full,
.br-loading[data-progress="38"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(68.4deg);
}
.loading[data-progress="39"] .br-loading-mask.full,
.loading[data-progress="39"] .br-loading-fill,
.br-loading[data-progress="39"] .br-loading-mask.full,
.br-loading[data-progress="39"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(70.2deg);
}
.loading[data-progress="40"] .br-loading-mask.full,
.loading[data-progress="40"] .br-loading-fill,
.br-loading[data-progress="40"] .br-loading-mask.full,
.br-loading[data-progress="40"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(72deg);
}
.loading[data-progress="41"] .br-loading-mask.full,
.loading[data-progress="41"] .br-loading-fill,
.br-loading[data-progress="41"] .br-loading-mask.full,
.br-loading[data-progress="41"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(73.8deg);
}
.loading[data-progress="42"] .br-loading-mask.full,
.loading[data-progress="42"] .br-loading-fill,
.br-loading[data-progress="42"] .br-loading-mask.full,
.br-loading[data-progress="42"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(75.6deg);
}
.loading[data-progress="43"] .br-loading-mask.full,
.loading[data-progress="43"] .br-loading-fill,
.br-loading[data-progress="43"] .br-loading-mask.full,
.br-loading[data-progress="43"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(77.4deg);
}
.loading[data-progress="44"] .br-loading-mask.full,
.loading[data-progress="44"] .br-loading-fill,
.br-loading[data-progress="44"] .br-loading-mask.full,
.br-loading[data-progress="44"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(79.2deg);
}
.loading[data-progress="45"] .br-loading-mask.full,
.loading[data-progress="45"] .br-loading-fill,
.br-loading[data-progress="45"] .br-loading-mask.full,
.br-loading[data-progress="45"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(81deg);
}
.loading[data-progress="46"] .br-loading-mask.full,
.loading[data-progress="46"] .br-loading-fill,
.br-loading[data-progress="46"] .br-loading-mask.full,
.br-loading[data-progress="46"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(82.8deg);
}
.loading[data-progress="47"] .br-loading-mask.full,
.loading[data-progress="47"] .br-loading-fill,
.br-loading[data-progress="47"] .br-loading-mask.full,
.br-loading[data-progress="47"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(84.6deg);
}
.loading[data-progress="48"] .br-loading-mask.full,
.loading[data-progress="48"] .br-loading-fill,
.br-loading[data-progress="48"] .br-loading-mask.full,
.br-loading[data-progress="48"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(86.4deg);
}
.loading[data-progress="49"] .br-loading-mask.full,
.loading[data-progress="49"] .br-loading-fill,
.br-loading[data-progress="49"] .br-loading-mask.full,
.br-loading[data-progress="49"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(88.2deg);
}
.loading[data-progress="50"] .br-loading-mask.full,
.loading[data-progress="50"] .br-loading-fill,
.br-loading[data-progress="50"] .br-loading-mask.full,
.br-loading[data-progress="50"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(90deg);
}
.loading[data-progress="51"] .br-loading-mask.full,
.loading[data-progress="51"] .br-loading-fill,
.br-loading[data-progress="51"] .br-loading-mask.full,
.br-loading[data-progress="51"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(91.8deg);
}
.loading[data-progress="52"] .br-loading-mask.full,
.loading[data-progress="52"] .br-loading-fill,
.br-loading[data-progress="52"] .br-loading-mask.full,
.br-loading[data-progress="52"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(93.6deg);
}
.loading[data-progress="53"] .br-loading-mask.full,
.loading[data-progress="53"] .br-loading-fill,
.br-loading[data-progress="53"] .br-loading-mask.full,
.br-loading[data-progress="53"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(95.4deg);
}
.loading[data-progress="54"] .br-loading-mask.full,
.loading[data-progress="54"] .br-loading-fill,
.br-loading[data-progress="54"] .br-loading-mask.full,
.br-loading[data-progress="54"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(97.2deg);
}
.loading[data-progress="55"] .br-loading-mask.full,
.loading[data-progress="55"] .br-loading-fill,
.br-loading[data-progress="55"] .br-loading-mask.full,
.br-loading[data-progress="55"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(99deg);
}
.loading[data-progress="56"] .br-loading-mask.full,
.loading[data-progress="56"] .br-loading-fill,
.br-loading[data-progress="56"] .br-loading-mask.full,
.br-loading[data-progress="56"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(100.8deg);
}
.loading[data-progress="57"] .br-loading-mask.full,
.loading[data-progress="57"] .br-loading-fill,
.br-loading[data-progress="57"] .br-loading-mask.full,
.br-loading[data-progress="57"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(102.6deg);
}
.loading[data-progress="58"] .br-loading-mask.full,
.loading[data-progress="58"] .br-loading-fill,
.br-loading[data-progress="58"] .br-loading-mask.full,
.br-loading[data-progress="58"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(104.4deg);
}
.loading[data-progress="59"] .br-loading-mask.full,
.loading[data-progress="59"] .br-loading-fill,
.br-loading[data-progress="59"] .br-loading-mask.full,
.br-loading[data-progress="59"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(106.2deg);
}
.loading[data-progress="60"] .br-loading-mask.full,
.loading[data-progress="60"] .br-loading-fill,
.br-loading[data-progress="60"] .br-loading-mask.full,
.br-loading[data-progress="60"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(108deg);
}
.loading[data-progress="61"] .br-loading-mask.full,
.loading[data-progress="61"] .br-loading-fill,
.br-loading[data-progress="61"] .br-loading-mask.full,
.br-loading[data-progress="61"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(109.8deg);
}
.loading[data-progress="62"] .br-loading-mask.full,
.loading[data-progress="62"] .br-loading-fill,
.br-loading[data-progress="62"] .br-loading-mask.full,
.br-loading[data-progress="62"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(111.6deg);
}
.loading[data-progress="63"] .br-loading-mask.full,
.loading[data-progress="63"] .br-loading-fill,
.br-loading[data-progress="63"] .br-loading-mask.full,
.br-loading[data-progress="63"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(113.4deg);
}
.loading[data-progress="64"] .br-loading-mask.full,
.loading[data-progress="64"] .br-loading-fill,
.br-loading[data-progress="64"] .br-loading-mask.full,
.br-loading[data-progress="64"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(115.2deg);
}
.loading[data-progress="65"] .br-loading-mask.full,
.loading[data-progress="65"] .br-loading-fill,
.br-loading[data-progress="65"] .br-loading-mask.full,
.br-loading[data-progress="65"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(117deg);
}
.loading[data-progress="66"] .br-loading-mask.full,
.loading[data-progress="66"] .br-loading-fill,
.br-loading[data-progress="66"] .br-loading-mask.full,
.br-loading[data-progress="66"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(118.8deg);
}
.loading[data-progress="67"] .br-loading-mask.full,
.loading[data-progress="67"] .br-loading-fill,
.br-loading[data-progress="67"] .br-loading-mask.full,
.br-loading[data-progress="67"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(120.6deg);
}
.loading[data-progress="68"] .br-loading-mask.full,
.loading[data-progress="68"] .br-loading-fill,
.br-loading[data-progress="68"] .br-loading-mask.full,
.br-loading[data-progress="68"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(122.4deg);
}
.loading[data-progress="69"] .br-loading-mask.full,
.loading[data-progress="69"] .br-loading-fill,
.br-loading[data-progress="69"] .br-loading-mask.full,
.br-loading[data-progress="69"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(124.2deg);
}
.loading[data-progress="70"] .br-loading-mask.full,
.loading[data-progress="70"] .br-loading-fill,
.br-loading[data-progress="70"] .br-loading-mask.full,
.br-loading[data-progress="70"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(126deg);
}
.loading[data-progress="71"] .br-loading-mask.full,
.loading[data-progress="71"] .br-loading-fill,
.br-loading[data-progress="71"] .br-loading-mask.full,
.br-loading[data-progress="71"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(127.8deg);
}
.loading[data-progress="72"] .br-loading-mask.full,
.loading[data-progress="72"] .br-loading-fill,
.br-loading[data-progress="72"] .br-loading-mask.full,
.br-loading[data-progress="72"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(129.6deg);
}
.loading[data-progress="73"] .br-loading-mask.full,
.loading[data-progress="73"] .br-loading-fill,
.br-loading[data-progress="73"] .br-loading-mask.full,
.br-loading[data-progress="73"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(131.4deg);
}
.loading[data-progress="74"] .br-loading-mask.full,
.loading[data-progress="74"] .br-loading-fill,
.br-loading[data-progress="74"] .br-loading-mask.full,
.br-loading[data-progress="74"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(133.2deg);
}
.loading[data-progress="75"] .br-loading-mask.full,
.loading[data-progress="75"] .br-loading-fill,
.br-loading[data-progress="75"] .br-loading-mask.full,
.br-loading[data-progress="75"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(135deg);
}
.loading[data-progress="76"] .br-loading-mask.full,
.loading[data-progress="76"] .br-loading-fill,
.br-loading[data-progress="76"] .br-loading-mask.full,
.br-loading[data-progress="76"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(136.8deg);
}
.loading[data-progress="77"] .br-loading-mask.full,
.loading[data-progress="77"] .br-loading-fill,
.br-loading[data-progress="77"] .br-loading-mask.full,
.br-loading[data-progress="77"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(138.6deg);
}
.loading[data-progress="78"] .br-loading-mask.full,
.loading[data-progress="78"] .br-loading-fill,
.br-loading[data-progress="78"] .br-loading-mask.full,
.br-loading[data-progress="78"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(140.4deg);
}
.loading[data-progress="79"] .br-loading-mask.full,
.loading[data-progress="79"] .br-loading-fill,
.br-loading[data-progress="79"] .br-loading-mask.full,
.br-loading[data-progress="79"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(142.2deg);
}
.loading[data-progress="80"] .br-loading-mask.full,
.loading[data-progress="80"] .br-loading-fill,
.br-loading[data-progress="80"] .br-loading-mask.full,
.br-loading[data-progress="80"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(144deg);
}
.loading[data-progress="81"] .br-loading-mask.full,
.loading[data-progress="81"] .br-loading-fill,
.br-loading[data-progress="81"] .br-loading-mask.full,
.br-loading[data-progress="81"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(145.8deg);
}
.loading[data-progress="82"] .br-loading-mask.full,
.loading[data-progress="82"] .br-loading-fill,
.br-loading[data-progress="82"] .br-loading-mask.full,
.br-loading[data-progress="82"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(147.6deg);
}
.loading[data-progress="83"] .br-loading-mask.full,
.loading[data-progress="83"] .br-loading-fill,
.br-loading[data-progress="83"] .br-loading-mask.full,
.br-loading[data-progress="83"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(149.4deg);
}
.loading[data-progress="84"] .br-loading-mask.full,
.loading[data-progress="84"] .br-loading-fill,
.br-loading[data-progress="84"] .br-loading-mask.full,
.br-loading[data-progress="84"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(151.2deg);
}
.loading[data-progress="85"] .br-loading-mask.full,
.loading[data-progress="85"] .br-loading-fill,
.br-loading[data-progress="85"] .br-loading-mask.full,
.br-loading[data-progress="85"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(153deg);
}
.loading[data-progress="86"] .br-loading-mask.full,
.loading[data-progress="86"] .br-loading-fill,
.br-loading[data-progress="86"] .br-loading-mask.full,
.br-loading[data-progress="86"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(154.8deg);
}
.loading[data-progress="87"] .br-loading-mask.full,
.loading[data-progress="87"] .br-loading-fill,
.br-loading[data-progress="87"] .br-loading-mask.full,
.br-loading[data-progress="87"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(156.6deg);
}
.loading[data-progress="88"] .br-loading-mask.full,
.loading[data-progress="88"] .br-loading-fill,
.br-loading[data-progress="88"] .br-loading-mask.full,
.br-loading[data-progress="88"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(158.4deg);
}
.loading[data-progress="89"] .br-loading-mask.full,
.loading[data-progress="89"] .br-loading-fill,
.br-loading[data-progress="89"] .br-loading-mask.full,
.br-loading[data-progress="89"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(160.2deg);
}
.loading[data-progress="90"] .br-loading-mask.full,
.loading[data-progress="90"] .br-loading-fill,
.br-loading[data-progress="90"] .br-loading-mask.full,
.br-loading[data-progress="90"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(162deg);
}
.loading[data-progress="91"] .br-loading-mask.full,
.loading[data-progress="91"] .br-loading-fill,
.br-loading[data-progress="91"] .br-loading-mask.full,
.br-loading[data-progress="91"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(163.8deg);
}
.loading[data-progress="92"] .br-loading-mask.full,
.loading[data-progress="92"] .br-loading-fill,
.br-loading[data-progress="92"] .br-loading-mask.full,
.br-loading[data-progress="92"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(165.6deg);
}
.loading[data-progress="93"] .br-loading-mask.full,
.loading[data-progress="93"] .br-loading-fill,
.br-loading[data-progress="93"] .br-loading-mask.full,
.br-loading[data-progress="93"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(167.4deg);
}
.loading[data-progress="94"] .br-loading-mask.full,
.loading[data-progress="94"] .br-loading-fill,
.br-loading[data-progress="94"] .br-loading-mask.full,
.br-loading[data-progress="94"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(169.2deg);
}
.loading[data-progress="95"] .br-loading-mask.full,
.loading[data-progress="95"] .br-loading-fill,
.br-loading[data-progress="95"] .br-loading-mask.full,
.br-loading[data-progress="95"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(171deg);
}
.loading[data-progress="96"] .br-loading-mask.full,
.loading[data-progress="96"] .br-loading-fill,
.br-loading[data-progress="96"] .br-loading-mask.full,
.br-loading[data-progress="96"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(172.8deg);
}
.loading[data-progress="97"] .br-loading-mask.full,
.loading[data-progress="97"] .br-loading-fill,
.br-loading[data-progress="97"] .br-loading-mask.full,
.br-loading[data-progress="97"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(174.6deg);
}
.loading[data-progress="98"] .br-loading-mask.full,
.loading[data-progress="98"] .br-loading-fill,
.br-loading[data-progress="98"] .br-loading-mask.full,
.br-loading[data-progress="98"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(176.4deg);
}
.loading[data-progress="99"] .br-loading-mask.full,
.loading[data-progress="99"] .br-loading-fill,
.br-loading[data-progress="99"] .br-loading-mask.full,
.br-loading[data-progress="99"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(178.2deg);
}
.loading[data-progress="100"] .br-loading-mask.full,
.loading[data-progress="100"] .br-loading-fill,
.br-loading[data-progress="100"] .br-loading-mask.full,
.br-loading[data-progress="100"] .br-loading-fill {
    animation: fill ease-in-out 2s;
    transform: rotate(180deg);
}
@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
}
.br-loading{
    background:none;
}
.br-loading::after{
    display:none;
}
body, html{
    height: 100%;
}
.loading-site{
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    z-index: 999999;
    position: absolute;
    display: none;
    justify-content: center;
    align-items:center;
}
.loading-site .loader{
    background: #FFF;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*# sourceMappingURL=loading.css.map*/

#crudTable_wrapper .dataTables_processing {
    background: rgba(255,255,255,0.9);
    top: 26px;
    height: calc(100% - 6px);
    left: 115px;
    width: calc(100% - 30px);
    z-index: 999;
    border: none;
    box-shadow: none;
}

#crudTable_wrapper .dataTables_processing > img {
    top: calc(50% - 16px)!important;
    left: calc(50% - 16px)!important;
    position: absolute;
}
.page{
    min-height: 450px;
}
.sticky.compact .header-logo{
    display: block;
    width: 100% !important;
}
.br-modal {
    --modal-size: var(--modal-medium);
    --modal-xsmall: 220px;
    --modal-small: 300px;
    --modal-medium: 500px;
    --modal-large: 640px;
    --modal-auto: auto;
    background: var(--background);
    box-shadow: var(--surface-shadow-sm);
    display: flex;
    flex-direction: column;
    max-width: var(--modal-size);
    z-index: var(--z-index-layer-4);
}
.br-modal-header {
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-scale-2x) var(--spacing-scale-2x) 0;
    position: relative;
}
.br-modal-header .close {
    position: absolute;
    right: var(--spacing-scale-base);
    top: var(--spacing-scale-base);
}
.br-modal .modal-title {
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-bold);
    margin-right: 40px;
    max-height: calc(var(--font-size-scale-up-01) * 3);
    overflow: hidden;
    text-overflow: ellipsis;
}
.br-modal-body {
    flex: 1;
    margin: var(--spacing-scale-3x) 0 var(--spacing-scale-2x);
    overflow: auto;
    padding: 0 var(--spacing-scale-2x);
    width: auto;
}
.br-modal-body::-webkit-scrollbar {
    height: var(--spacing-scale-base);
    width: var(--spacing-scale-base);
}
.br-modal-body::-webkit-scrollbar-track {
    background: var(--gray-10);
}
.br-modal-body::-webkit-scrollbar-thumb {
    background: var(--gray-30);
}
.br-modal-body:hover::-webkit-scrollbar-thumb {
    background: var(--gray-40);
}
.br-modal-body *:last-child {
    margin-bottom: 0;
}
.br-modal-footer {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-scale-2x);
}
.br-modal.is-xsmall, .br-modal.xsmall {
    --modal-size: var(--modal-xsmall);
}
.br-modal.is-small, .br-modal.small {
    --modal-size: var(--modal-small);
}
.br-modal.is-medium, .br-modal.medium {
    --modal-size: var(--modal-medium);
}
.br-modal.is-large, .br-modal.large {
    --modal-size: var(--modal-large);
}
.br-modal.is-auto, .br-modal.auto {
    --modal-size: var(--modal-auto);
}
.br-modal .loading.medium {
    min-height: calc(var(--loading-indetermined-diameter-md) + var(--spacing-scale-2x) * 2);
}
.br-modal .terms {
    border: 0;
    box-shadow: var(--surface-shadow-sm-inset), var(--surface-shadow-sm-inset-up);
    font-size: var(--font-size-scale-base);
    height: 216px;
    margin-bottom: var(--spacing-scale-2x);
    margin-left: calc(var(--spacing-scale-2x) * -1);
    margin-right: calc(var(--spacing-scale-2x) * -1);
    overflow: auto;
    padding: var(--spacing-scale-2x);
    resize: none;
    width: auto;
}
.br-modal .terms::-webkit-scrollbar {
    height: var(--spacing-scale-base);
    width: var(--spacing-scale-base);
}
.br-modal .terms::-webkit-scrollbar-track {
    background: var(--gray-10);
}
.br-modal .terms::-webkit-scrollbar-thumb {
    background: var(--gray-30);
}
.br-modal .terms:hover::-webkit-scrollbar-thumb {
    background: var(--gray-40);
}
.br-modal .terms:active {
    outline: none;
}
.br-modal .terms:hover::-webkit-scrollbar-thumb {
    background: var(--color-secondary-07);
}
@media (max-width: 991px) {
    .br-modal .terms {
        margin-left: unset !important;
        margin-right: unset !important;
    }
    .br-modal-header .close {
        top: 0;
    }
}
.dataTables_length{
    display: flex;
}
.dataTables_length label{
    display: flex !important;
    align-items: center !important;
    font-weight: normal;
}
.dataTables_wrapper .bottom{
    display: flex;
    justify-content: space-between;
}
 .dataTables_wrapper .dataTables_length select{
    width: 75px;
}
.dataTables_wrapper .dataTables_filter input{
    border-radius: 100em;
}
.dataTables_length{
    width: 30%;
}
btn.btn-none{
    background: none;
    border:none;
}
.td-data-action .actions-btns{
    display: flex;
    align-items: center;
    width: 100%;
}
.td-data-action a{
    color: unset;
    margin: 0;
    padding: 0;
}
.td-data-action button{
    padding: 0;
    margin: 0;
}
.td-data-action .btn-datatable-actions:hover{
    background: none;
}
.dataTables_paginate .paginate_button{
    align-items: center;
    border: 1px solid transparent;
    border-radius: 100em;
    color: var(--interactive);
    display: inline-flex;
    justify-content: center;
    margin: 0 calc(var(--pagination-margin)* 0.5);
    min-height: var(--pagination-size);
    min-width: var(--pagination-size);
    padding: 0 var(--spacing-scale-base);
    white-space: nowrap;
    cursor: pointer;
}
.dataTables_paginate .paginate_button.current{
    background: rgb(12, 50, 111) !important;
    color: var(--color-dark);
    font-weight: var(--font-weight-semi-bold);
}
.btn.btn-primary,.btn.btn-default {
    --button-radius: 100em;
    --button-xsmall: 24px;
    --button-small: 32px;
    --button-medium: 40px;
    --button-large: 48px;
    --button-size: var(--button-medium);
    align-items: center;
    background-color: #0c326f;
    border: 0;
    border-radius: var(--button-radius);
    color: #FFF;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-semi-bold);
    height: var(--button-size);
    justify-content: center;
    overflow: hidden;
    padding: 0 var(--spacing-scale-3x);
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

.btn.btn-default {
    background-color: var(--background-light);
    border: 1px solid var(--interactive);
    color: #0c326f;
}

.list-btns{
    padding-top: 20px;
}
.btn-hr{
    display: flex;
    justify-content: center;
}
.btn-hr .btn{
    border: none;
    background: none !important;
}

/* Estilos opcionais para melhorar a aparência do menu suspenso */
.dropdownpure {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdownpure.active .dropdown-content {
    display: block;
}
.model-alteracao-unidade .br-modal{
    width: 550px;
}
.model-alteracao-unidade .select2-container{
    width: 100% !important;
}
.header-login .dropdown-content{
    width: 500px !important;
}

.card-user-units .card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-user-units .card-body .card-title{
    margin-bottom: 0;
}
.adicionar-unidades-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.adicionar-unidades-title h3{
    margin: 0 !important;
    padding:0 !important;
    margin-right: 20px !important;
}
.br-scrim-util{
    z-index: 9999999999 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 28px;
    width: 100%;
    overflow: hidden;
}
th.sorting_asc::after{
    content:"▲";
    float: right;
}
th.sorting_desc::after{
    content:"▼";
    float: right;
}
.table thead th.sorting{
    cursor: pointer;
}
.card-user-units .default-unit label{
    display: flex;
}
.card-user-units .default-unit .unit-default{
    margin-top: 5px;
    margin-left: 10px;
}
.badge-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 9;
    left: 22px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.dt-container .bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.dt-search input{
    width: 200px;
    border-radius: 25px;
    float: right;
}
.dt-processing{
    display:none !important;
}
.bottom .dt-length label{
    padding-left: 10px;
}

.dt-container .dt-buttons{
    display:block !important;
}
.dt-scroll-body{
    height: 350px;
}
.buttons-columnVisibility.dt-button-active::after{
    content: "✓";
    float: right;
}
.dt-buttons .btn{
    --button-radius: 100em;
    --button-xsmall: 24px;
    --button-small: 32px;
    --button-medium: 40px;
    --button-large: 48px;
    --button-size: var(--button-medium);
    align-items: center;
    background-color: #0c326f;
    border: 0;
    border-radius: var(--button-radius) !important;
    color: #FFF;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-semi-bold);
    height: var(--button-size);
    justify-content: center;
    overflow: hidden;
    padding: 0 var(--spacing-scale-3x);
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.filter-data-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-data-between input{
    width: 45%;
}
.filter-data-between input:first-child{
    margin-right: 5px;
}

.filter-data-between input:last-child{
    margin-left: 5px;
}
.page-item .page-link{
    margin: 0 3px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item .page-link.last, .page-item .page-link.first{
    display: none;
}
.page-item.active .page-link{
    background: #0c326f;
    border-radius: 50%;
}
.page-item .page-link:hover{
    background: #c5d4eb;
    border-radius: 50%;
}
.scroll-table .dataTables_wrapper{
    width: 100% !important;
    overflow-x: auto !important;
}
.scroll-table .dt-scroll-body table thead{
    visibility: hidden;
 }
 .scroll-table .dt-scroll-body table thead .dt-scroll-sizing{
    height: 0px !important;
 }
.select2-container--default{
    width: 100% !important;
}
.template-base{
    padding-bottom: 65px !important;
}
footer.d-print-none{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999999999;
}
.dt-container .dt-buttons {
 display: flex !important;
 flex-wrap: wrap;
 justify-content: start;
 margin: 25px 0px;
}
.dt-container .dt-buttons button, .dt-container .dt-buttons .btn-group{
    flex-grow: 0; /* Não cresce */
    flex-shrink: 0; /* Não encolhe */
    flex-basis: auto; /* Mantém o tamanho inicial */
    margin-right: 5px;

}
.loader-element{
    z-index: 2 !important;
    background: none!important;
}
.loader-element .loader{
    background: none!important;
}
.conta-contabil-soma .badge-info{
    border-radius: 50%;
    cursor: default;
}

.dt-buttons .buttons-collection.dropdown-toggle{
    margin-right: 0;
}

.data-ambiente{
    color: var(--interactive);
    position: absolute;
    bottom: 37px;
    z-index: 1;
    left: 1px;
    width: 100%;
    text-align: center;
}
.menu-panel{
    position: relative;
}

.dt-container .dt-buttons button, .dt-container .dt-buttons .btn{
    margin-right: 15px !important;
}
.dt-container .dt-buttons button, .dt-container .dt-buttons .btn-group .btn{
    margin-right: 10px !important;
}
progress {
    text-align:center;
    height: 26px;
    color: #FFF;
    text-shadow: 1px 1px 2px black;
}
progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0
}
progress::-webkit-progress-bar {
    background-color: #c9c9c9;
}
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    background-color: #7cc4ff;
}


.lista-acesso-rapido a{
    background: none !important;
}
.lista-acesso-rapido  .acesso-rapido-item .acesso-rapido-item-link-icon{
    position: relative;
}
.lista-acesso-rapido  .acesso-rapido-item .acesso-rapido-item-link-icon .br-tag{
    position: absolute;
    bottom: -7px;
    right: -7px;
}

.quick-access-cards .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.quick-access-cards .card .form-group {
    margin-bottom: 1rem;
}

.quick-access-cards .card .form-control {
    border-radius: 4px;
}

.quick-access-cards .card .save-btn {
    width: 100%;
}

.dt-container .dt-buttons button, .dt-container .dt-buttons .btn{
    margin-right: 15px !important;
}
.dt-container .dt-buttons button, .dt-container .dt-buttons .btn-group .btn{
    margin-right: 10px !important;
}
.acesso-rapido-item-link-icon{
    position: relative;
}
.acesso-rapido-item-link-icon .badge-circle{
    position: absolute;
    left: 70px;
    top: 7px;
}
.select2-container--default .select2-selection--single .select2-selection__clear{
    color: #aaa !important;
    font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__clear::after{
content: "Limpar";
display: inline-block;
padding-left: 5px;
}

.btn.btn-small{
    font-size: 9px;
    height: 25px;
    padding: 10px;
}
.btn-small .fa,.btn-small .fas{
    font-size: 9px !important;
}

.files-table .files-center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.files-table .td-data-action .dt-column-title{
    display: block;
    text-align: center;
    width: 100%;
}
.dt-button-split{
    --button-radius: 100em;
    --button-xsmall: 24px;
    --button-small: 32px;
    --button-medium: 40px;
    --button-large: 48px;
    --button-size: var(--button-medium);
    align-items: center;
    background-color: #0c326f;
    border: 0;
    border-radius: var(--button-radius) !important;
    color: #FFF;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-semi-bold);
    height: var(--button-size);
    justify-content: center;
    overflow: hidden;
    padding: 0 var(--spacing-scale-3x);
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.dt-button-split .btn{
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.filter input.descricao-material,
.filter input[name="responsavel"],
.filter input[name="coresponsavel"]{
    text-transform: uppercase;
}

table.dataTable th.sorting_asc .dt-column-order {
    background-color: #f1f1f1;
    color: #333;
}

table.dataTable th.sorting_desc .dt-column-order {
    background-color: #f1f1f1;
    color: #333;
}

/* Customizando os ícones de ordenação (ascendente/descendente) */
table.dataTable thead .dt-orderable-asc,
table.dataTable thead .dt-orderable-desc {
    cursor:pointer;
}

table.dataTable thead .dt-orderable-asc  .dt-column-order:after,
table.dataTable thead .dt-orderable-desc  .dt-column-order:after {
    content: "↕"; /* Ícone neutro para colunas não ordenadas */
    padding-left: 5px;
    color: gray;
}

table.dataTable thead .dt-ordering-asc .dt-column-order:after {
    content: "↑"; /* Ícone para coluna ordenada de forma ascendente */
    padding-left: 5px;
    color: black;
}

table.dataTable thead .dt-ordering-desc  .dt-column-order:after {
    content: "↓"; /* Ícone para coluna ordenada de forma descendente */
    padding-left: 5px;
    color: black;
}
