/* body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; } */

/* p {
  color: #b3b3b3;
  font-weight: 300; } */





/* .content {
  padding: 7rem 0; } */

.half, .half .container > .row {
  height: 100vh; }

@media (max-width: 1300px) {
  .half .bg {
    height: 100%; } }

.half .contents, .half .bg {
  width: 100%; }
  @media (max-width: 1199.98px) {
    .half .contents, .half .bg {
      width: 100%; } }
  /* .half .contents .form-group, .half .bg .form-group {
    overflow: hidden;
    margin-bottom: 0;
    border: 1px solid #efefef;
    padding: 15px 15px;
    border-bottom: none;
    position: relative; } */
    /* .half .contents .form-group label, .half .bg .form-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; } */
    /* .half .contents .form-group input:focus + label, .half .bg .form-group input:focus + label {
      margin-top: -20px; } */
    /* .half .contents .form-group.first, .half .bg .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; } */
    /* .half .contents .form-group.last, .half .bg .form-group.last {
      border-bottom: 1px solid #efefef;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; } */
    /* .half .contents .form-group label, .half .bg .form-group label {
      font-size: 12px;
      display: block;
      margin-bottom: 0;
      color: #b3b3b3; } */
    /* .half .contents .form-group.field--not-empty label, .half .bg .form-group.field--not-empty label {
      margin-top: -20px; } */
  /* .half .contents .form-control, .half .bg .form-control {
    border: none; 
     padding: 0; 
     font-size: 20px; 
     border-radius: 0; 
  } */
    /* .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; } */

.half .bg {
  background-size: cover;
  background-position: center; }